/*  jaune       #F2B705
    bleu        #07C4D9
    bleu foncé  #079DD9
*/

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

article img {
    border: solid 2px black;
    border-radius: 25% 10%;
}

p {
    line-height: 1.8;
}

.fa-camera, .fa-xbox, .fa-plane {
    border: solid 2px black;
    border-radius: 50%;
    padding: 5px;
    font-size: 3em;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}