/*  jaune       #F2B705
    bleu        #07C4D9
    bleu foncé  #079DD9
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-mt {
    margin-top: 150px;
}

article img {
    border: solid 2px black;
    border-radius: 25% 10%;
}

@media (max-width: 260px) {

    .img-mt {
        margin-top: 200px;
    }
}